@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CinemaBot!</h1>
    <p>Come and create a database of your favorite movies and actors and link them together.<br /> Explore the menus above to get started!</p>
</div>

