@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Brush Script MT'">Welcome to CinemaBot!</h1>
    <img src="~/lib/converted_image.jpeg" alt="CinemaBot Logo" style="width: 100%; max-width: 300px; height: auto;">
    <p style="font-family: 'Courier New', monospace; margin-top: 10px">Come see our extensive list of movies, actors, and more! You are even able to modify our database as you see fit! See the movie menu above to add movies,
        and once finished, see its details page for live reviews on your chosen movie! For the actors, you can upload their information to our database, and once finished, see the details page for the latest tweets on your chosen actor! Our last menu, Movie-Actor, allows you to create connections between the movies and
        actors in the database! That way, when you go into the details of a movie, you can see which actors in the database were in the movie. For the actors, you can see which movies they have been in for this database. <br /> Explore the menus above to get started!</pstyle="font-family:>
</div>

