@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site allows you to create a database of your favorite movies and actors, and it allows you to link them together.<br /> Explore the menus above to get started!</p>
</div>

