@model Fall2024_Assignment3_iqstevens.Models.Actor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Actor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMDB" class="control-label"></label>
                <input asp-for="IMDB" class="form-control" style="margin-bottom: 10px;"/>
                <span asp-validation-for="IMDB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Photo" class="control-label">Poster (jpeg, jpg, or png)</label>
                @if (Model.Photo != null && Model.Photo.Length > 0)
                {
                    var mimeType = "image/jpeg";  
                    <img src="data:@mimeType;base64,@Convert.ToBase64String(Model.Photo)" alt="Poster" style="width: 150px; height: auto;" />
                }
                else
                {
                    <span>No image available</span>
                }
                <input asp-for="Photo" type="file" class="form-control" style="margin-top: 10px;" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
